<h3>Choose your activity</h3>
<mat-tab-group
  mat-stretch-tabs
  class="tab-group"
  [(selectedIndex)]="selectedActivity"
>
  <mat-tab disabled label="Simon Game" *ngIf="!recording">
    <app-embed-game></app-embed-game>
  </mat-tab>
  <mat-tab disabled label="Music" *ngIf="!recording">
    <app-embed-music></app-embed-music>
  </mat-tab>

  <mat-tab label="Simon Game" *ngIf="recording">
    <app-embed-game></app-embed-game>
  </mat-tab>
  <mat-tab label="Music" *ngIf="recording">
    <app-embed-music></app-embed-music>
  </mat-tab>
</mat-tab-group>
