<div class="timer-config">
  <div class="buffer">
    <h3>Select Buffer Time</h3>
    <mat-radio-group [(ngModel)]="bufferTime" [disabled]="disable">
      <mat-radio-button [id]="buffer_1" [value]="buffer_1">30 seconds</mat-radio-button>
      <mat-radio-button [value]="buffer_2">1 minute</mat-radio-button>
    </mat-radio-group>
    <div class="selected">Buffer Time: {{bufferTime}} seconds</div>
  </div>

  <div class="activity">
    <h3>Select Activity Timer</h3>
    <mat-radio-group [(ngModel)]="activityTime" [disabled]="disable">
      <mat-radio-button [value]="activity_1">3 minutes</mat-radio-button>
      <mat-radio-button [value]="activity_2">5 minutes</mat-radio-button>
      <mat-radio-button [value]="activity_3">10 minutes</mat-radio-button>
    </mat-radio-group>
    <div class="selected">Activity Time: {{activityTime}} seconds</div>
  </div>
</div>

<div>Start: {{startTime | date:'medium'}}</div>
<div>Activity Start: {{activityStartTime | date:'medium'}}</div>
<div>Activity End: {{activityEndTime | date:'medium'}}</div>
<div>End: {{endTime | date:'medium'}}</div>

<h1 class="timer">{{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/></h1>
